{% extends "base.html" %}

{% block title %}Add New Farm - My Website{% endblock %}

{% block content %}
<div class="remove-bar-container">
        <ul>
                <li><a class="remove-button" href="/remove-farm/">Remove Farms</a></li>
        </ul>
</div>
    <div class="farm-rating-container">
        <h2 class="add-farm-title">Add New Farm</h2>
        <form method="post" class="add-farm-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>

    <style>
        .remove-bar-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            position: relative;
        }
        .farm-rating-container {
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .add-farm-title {
            font-size: 1.8em;
            margin-bottom: 20px;
            color: #333;
        }
        .add-farm-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .add-farm-form input, .add-farm-form select, .add-farm-form textarea {
            width: 80%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1em;
        }
        .submit-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s;
        }
        .submit-button:hover {
            background-color: #45a049;
        }
        .remove-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            text-decoration: none;
        }
        .remove-button-container {
            margin-left: 20px;
            position: relative;
        }
        ul {
        list-style: none;
        margin: 0;
        padding: 0;
        }
    </style>
{% endblock %}

